.company_block
  padding: 0 24px
  padding-bottom: 100px
  padding-top: 70px
  transition: all 0.3s ease

.company_block_light
  background-color: #EFEDED

.company_list
  display: flex
  align-items: center
  justify-content: center
  gap: 70px
  flex-wrap: wrap

.company_list_item img
  width: 100%
  max-width: 100%
