.block_intro
  padding-bottom: 70px

.intro
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  height: 100vh
  position: relative
  background: url("/intro/intro.png") center no-repeat
  background-size: cover

.BEGIN
  position: absolute
  color: #252528
  font-size: 200px
  font-family: Nunito, sans-serif
  font-weight: 700
  bottom: -110px
  left: 14.3%
  z-index: -1
  opacity: 0.2

.socials
  position: absolute
  bottom: 40px
  left: 5.5%
  display: flex
  flex-direction: row
  align-items: center
  gap: 50px

.socials_item i
  font-size: 25px
  transition: all 0.3s ease
  &:hover
    transform: scale(1.3)
