.subtitleline_block
  display: flex
  flex-direction: row

.subtitleline_green
  height: 2.5px
  background-color: #1EE1B3
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

.subtitleline_gray
  height: 2.5px
  background-color: #515151
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

.w_157
  width: 157px

.w_90
  width: 90px

.w_80
  width: 80px

.w_50
  width: 50px

.w_40
  width: 40px
