.clothing
  padding: 0 24px
  padding-top: 79px
  padding-bottom: 90px
  transition: all 0.3s ease

.clothing_light
  background-color: #EFEDED

.container
  position: relative
  width: 100%
  max-width: 1540px
  padding: 110px 110px
  margin: 0 auto
  background-color: #0C0C11
  height: 600px

.clothing_inner
  display: flex
  flex-direction: row
  justify-content: space-between
  gap: 50px

.clothing_side
  flex: 0 1 50%

.clothing_title
  margin-bottom: 50px

.clothing_text
  line-height: 1.4em
  margin-bottom: 60px

.clothing_img
  position: absolute
  top: -14%
  left: 60%

.clothing_img img
  display: block
  object-fit: cover
  object-position: center
  max-width: 100%
  width: 100%

@media ( max-width: 1250px )
  .container
    height: 100%
    padding: 110px 25px

  .clothing_img
    position: absolute
    top: 0%
    left: 60%

@media ( max-width: 1100px )
  .clothing_img
    position: absolute
    top: 7%
    left: 60%

@media ( max-width: 950px )
  .clothing
    padding-right: 0
    padding-left: 0

  .container
    height: 100%

  .clothing_inner
    display: block

  .clothing_side
    position: relative
    z-index: 1

  .clothing_img
    position: absolute
    top: -14%
    left: 25%

  .clothing_img img
    max-width: none
    width: auto

@media ( max-width: 726px )
  .clothing_img
    position: absolute
    top: -14%
    left: 15%

  .clothing_img img
    max-width: 100%
    width: 100%

@media ( max-width: 580px )
  .container
    padding: 55px 25px

  .clothing_img
    top: -10%
    left: 0%

  .clothing_img img
    max-width: none
    width: auto

@media ( max-width: 475px )
  .clothing_img
    top: -5%
    left: -10%
